.footer-nav-item {
  margin-bottom: 0.5rem;
}

.footer-category {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.35rem;
  transition: all 0.3s ease;
}

.footer-category.active {
  background-color: black;
  color: white;
}

.footer-category.red {
  color: #d62128;
}

.logo-container {
  width: 140px;
}

.copyright {
  font-size: 0.85rem;
}

.checkmark {
  width: 1rem;
  height: 1rem;
  border: 1px solid #333;
}
