.git
.gitignore
.github
node_modules
build
.cache
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
api
__MaintanceMode
docs
tests
README.md
LICENSE
.vscode
.idea
*.swp
