@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}



html,
body {
  font-family: 'Phenomena', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #272727;
}
